@import '../../../assets/scss/_variables';


.Navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;

  li {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;

    &:not(:last-child) {
      margin-right: 24px;
    }

    a {
      color: $dark-gray;
      text-decoration: none;
      height: 100%;
      padding: 12px 0;
      box-sizing: border-box;
      display: block;

      &:hover,
      &:active {
        color: $orange;
      }
    }
  }
}
