body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  color: $dark-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  position: relative;
  min-height: 100vh;
}


.upperCase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/*** Typography ***/
.title {
  font-size: 32px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 8px;
}


/*** Buttons ***/
.button {
  width: 128px;
  height: 32px;
  background-color: $orange;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $dark-orange;
  }
}


/*** Links ***/
.link {
  text-decoration: none;
  color: $orange;

  &:hover {
    text-decoration: underline;
  }
}
