.panel {
  border: 1px solid $light-gray;
  padding: 12px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .thumbnail {
    margin-right: 24px;
    height: 80px;
    width: 100px;
    overflow: hidden;
    background-color: $light-gray;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 700;
    }

    .info {
      font-size: 12px;
      font-weight: 400;
    }

    .link { font-size: 12px; }
  }
}
