@import '../../assets/scss/variables';


.MainView {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  box-sizing: border-box;

  .CarList {
    width: 800px;
  }
}

.Filters {
  width: 550px;
  padding: 24px;
  border: 1px solid $light-gray;
  margin-right: 24px;
  box-sizing: border-box;
}
